<h1>Stupid Coaching</h1>

<form action="answer" data-turbo="false">
  <label for="askcoach">Ask your coach anything:</label><br>
  <input type="text" name="question" placeholder="text">
  <input type="submit">
</form>
